<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabyrinthGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <LabyrinthGame.Properties.Settings>
            <setting name="SfxVolume" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="IsMuted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForwardKey" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="BackwardKey" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="LeftKey" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="RightKey" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="LastPlayedTrack" serializeAs="String">
                <value />
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>Середній</value>
            </setting>
            <setting name="MusicVolume" serializeAs="String">
                <value>15</value>
            </setting>
        </LabyrinthGame.Properties.Settings>
    </userSettings>
</configuration>